body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;

  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}

.section-container {
  width: 1056px;
  margin: 0 auto;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  border: none;
  outline: none;
  background-color: #81b3d2;
  box-sizing: border-box;
  cursor: pointer;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

/* header */
.header {
  position: relative;
}

.navigation .emblem {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
}

.navigation li {
  padding: 14px 73px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.navigation li a {
  color: #000000;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-column {
  display: flex;
}

.navigation-current {
  color: #766357;
}

/* intro */
.intro {
  position: relative;
  margin-bottom: 65px;

  background-color: #500509;
  background-image: url("../img/background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-inner {
  background-position: center;
}

.intro img {
  display: block;
  margin: 0 auto;
}

.intro-welcome {
  width: 188px;
  height: 45;;
  padding-top: 76px;
  padding-bottom: 11px;
}

.intro-pretitle {
  width: 256px;
  height: 30px;
  padding-bottom: 52px;
}

.intro-title {
  width: 458px;
  height: 78px;
}

.intro-title-inner {
  padding-top: 101px;
  padding-bottom: 120px;
}

.intro-subtitle {
  position: relative;
  width: 296px;
  height: 80px;
  padding-top: 56px;
  padding-bottom: 80px;
}

.intro-bottom {
  position: absolute;
  bottom: 0;
  width: 1200px;
  height: 57px;
}

/* section */
.section-description {
  text-align: center;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.section-subtitle {
  margin: 0;
  margin-bottom: 60px;
  line-height: 24px;
}

/* reasons */
.reasons {
  margin-bottom: 58px;
}

.reasons .section-subtitle {
  line-height: 26px;
}

.reasons-list,
.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.reasons-list > li:first-of-type,
.reasons-list > li:nth-of-type(2) {
  grid-column: 1 / span 3;
}

.reason-item-wide {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.reason-item-wide > .reason-item:first-of-type {
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-item-wide > .reason-item:last-of-type {
  grid-column: 2 / span 2;
}

.reason-item-canyon > .reason-item:first-of-type {
  grid-area: 1 / 4 / 1 / 4;
}

.reason-item-house .reason-item:last-of-type {
  background-color: #500509;
  background-image: url("../img/house.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reason-item-canyon .reason-item:last-of-type{
  background-image: url("../img/canyon_bridge.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.reasons-list > li:nth-child(n+3) {
  background-color: #eeeeee;
}

.reason-item,
.feature-item {
  padding: 45px 60px 60px 60px;
  text-align: center;
}


.reason-description,
.feature-description {
  margin: 0;
}

.reason-title,
.feature-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 155px;
  font-size: 21px;
  font-weight: 700;;
}

.reason-number {
  position: relative;
  display: block;
  margin-bottom: 30px;
}

.reason-number::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% - 15px - 9px)) translateY(-50%);
  background-color: #a8a8a8;
}

.reason-number::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translateX(calc(-50% + 15px + 9px)) translateY(-50%);
  background-color: #a8a8a8;
}

.reason-item-house .reason-number::before,
.reason-item-house .reason-number::after,
.reason-item-canyon .reason-number::before,
.reason-item-canyon .reason-number::after {
  background-color: #ffffff;
}

/* features */
.feature-title {
  position: relative;
  padding-top: 105px;
  margin-bottom: 30px;
}

.feature-title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 76px;
}

.feature-title.feature-title-living::before {
  background-image: url("../img/svg/icon-1.svg");
  background-repeat: no-repeat;
}

.feature-title.feature-title-food::before {
  background-image: url("../img/svg/icon-3.svg");
  background-repeat: no-repeat;
}

.feature-title.feature-title-souvenirs::before {
  background-image: url("../img/svg/icon-2.svg");
  background-repeat: no-repeat;
}

/* search hotel */
.search-hotel {
  position: relative;
  text-align: center;
}

.search-button {
  padding: 30px 140px;
  background-color: #766357;
}

.search-button:hover {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

/* map */
.map {
  width: 1200px;
  height: 593px;

  background-color: #cbdda9;
  background-image: url("../img/map.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.map > div {
  position: relative;
  top: 50%;
  left: 50%;
  width: 27px;
  height: 27px;
  background-color: #81b3d2;
  border: 7px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
}

/* footer */
.footer-main {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
  background-color: rgba(254, 254, 253, 0.9);
}

.main-page .footer-main {
  position: absolute;
  bottom: 0;
}

.footer-hashtag-sedona {
  display: flex;
  justify-content: center;

  width: 400px;
  margin: 0;

  align-items: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-hashtag-sedona a {
  color: #000000;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
}

.footer-social li {
  display: flex;
}

.footer-social li:not(:last-of-type) {
  padding-right: 6px;
}

.social-button {
  display: inline-block;
  font-size: 0;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center center;
}

.social-button-tw {
  background-image: url("../img/svg/twitter.svg");
}

.social-button-f {
  background-image: url("../img/svg/fb-icon.svg");
}

.social-button-yt {
  background-image: url("../img/svg/youtube.svg");
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 400px;
  margin: 0;
}

.footer-copyright a {
  display: inline-block;
  width: 115px;
  height: 41px;
  font-size: 0;
  margin-left: 9px;
  background-image: url("../img/svg/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-copyright a:hover {
  filter: invert(77%) sepia(17%) saturate(782%) hue-rotate(163deg) brightness(87%) contrast(87%);
}

.footer-copyright a:active {
  filter: invert(89%) sepia(5%) saturate(66%) hue-rotate(277deg) brightness(84%) contrast(90%);
}

/* search-hotel */
.search-hotel .section-title {
  font-size: 30px;
  line-height: 36px;
}

.popup-search {
  position: absolute;
  left: 50%;
  z-index: 999;
  /* visibility: hidden;
  opacity: 0;
  pointer-events: none; */
 
  width: 568px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
  box-sizing: border-box;

  transform: translateX(-50%);
   /* transition: all 0.3s; */
}

.popup-search:target {
  /* visibility: visible;
  opacity: 1;
  pointer-events: auto; */
}

/* search-hotel-form */
.search-hotel-form {
  padding: 55px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-hotel-form p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 30px;
}

.search-hotel-form label {
  padding-right: 21px;
  line-height: 52px;
  white-space: nowrap;
}

.search-hotel-form input {
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.hotel-checkin-date,
.hotel-checkout-date  {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.hotel-checkin-date:hover,
.hotel-checkout-date:hover {
  background-color: #ebebeb;
}

.hotel-checkin-date:focus,
.hotel-checkout-date:focus {
  outline-color: #ebebeb;
  outline-width: 2px;
  background-color: #ffffff;
}

.hotel-checkin-date::before,
.hotel-checkout-date::before {
  position: absolute;
  content: "";
  right: 9px;
  width: 21px;
  height: 22px;
  background-image: url("../img/svg/calendar.svg");
  filter: invert(73%) sepia(5%) saturate(11%) hue-rotate(341deg) brightness(92%) contrast(90%);
}

.hotel-checkin-date:hover::before,
.hotel-checkout-date:hover::before {
  filter: invert(0%) sepia(5%) saturate(7478%) hue-rotate(316deg) brightness(95%) contrast(105%);
}

.hotel-checkin-date:focus::before,
.hotel-checkout-date:focus::before {
  filter: invert(65%) sepia(79%) saturate(188%) hue-rotate(159deg) brightness(93%) contrast(81%);
}

.hotel-guests {
  display: flex;
  justify-content: space-between;
}

.hotel-guests label {
  line-height: 38px;
}

.hotel-guests input {
  width: 38px;
  height: 38px;
}

.button-minus,
.button-plus {
  position: relative;
  width: 38px;
  height: 38px;

  text-align: unset;
  align-items: unset;

  border-width: 0;
  background-color: #f2f2f2;
  outline: none;
  cursor: pointer;
}

.button-minus::before {
  position:absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: translate(-50%);
}

.button-plus::before {
  position:absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: translate(-50%);
}

.button-plus::after {
  position:absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
  transform: translate(-50%) rotate(90deg);
}

.button-minus:hover::before,
.button-plus:hover::before,
.button-plus:hover::after {
  background-color: #000000;
}

.button-minus:active::before,
.button-plus:active:active::before,
.button-plus:active::after {
  background-color: #81b3d2;
}

.search-hotel-form .button {
  width: 100%;
  display: inline-block;
  padding: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #81b3d2;
  box-sizing: border-box;
  cursor: pointer;
}

/* sedona-form.html */
.filters {
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-image: url("../img/filter_background.jpg");
}

.filter {
  position: relative;
  display: flex;
  flex-direction: row;
}

.filter-infrastructure {
  width: 255px;
}

.filter-property-type {
  width: 255px;
}

.filter .filter-property-cost {
  display: flex;
  margin-left: auto;

  width: 330px;
}

.filter .button-filter {
  position: absolute;
  right: 95px;
  bottom: 15px;

  padding: 0;
  padding: 7px 34px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  outline: none;
}

.filter .button-filter:hover {
  color: #000000;
  background-color: #ffffff;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset > legend {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
}

.filter-property-cost label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
}

.filter-option {
  position: relative;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.filter-option label {
  cursor: pointer;
}

.filter-option input + label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 23px;
  height: 23px;
  transform: translateY(-50%);

  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.filter-option input:checked + label::after {
  position: absolute;
  content: "";
  top: 40%;
  left: 6px;
  width: 15px;
  height: 8px;
  transform: translateY(-40%) rotate(-45deg);

  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
}

.filter-option input:disabled + label::before {
  border-color: #6a6a6a;
}

.filter-option input:checked:disabled + label::after {
  border-color: #6a6a6a;
}

.filter-cost-range {
  display: flex;
  width: 100%;

  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.filter-cost-range span {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding-top: 7px;
  padding-bottom:7px;
}

.filter-cost-range span:last-of-type {
  border-left: 2px solid #ffffff;
}

/* filters-result sorting */

.sorting {
  display: flex;

  margin-bottom: 30px;
}

.sorting-column-left {
  width: 165px;

  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-column-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  width: 365px;

  font-size: 12px;
  line-height: 18px;
}

.sorting-column-right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 110px;
  margin-left: auto;
}

.sorting-column-left span:first-of-type {
  margin-right: 5px;
}

.sorting-column-middle span {
  width: 80px;  
}

.sorting-parameters-list {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.sorting-parameter a {
  color: rgba(0, 0, 0, 0.3);

  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #81b3d2;
}

.sorting-current a {
  text-decoration: none;
  color: #81b3d2;
}

.sorting-parameter a:hover {
  color: #81b3d2;
}

.sorting-parameter a:active {
  color: #000000;
  text-decoration: none;
}

.sorting .button {
  font-size: 0;
  background: none;
}

.button-sort-up {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: bottom;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid #cacaca;
}

.button-sort-down {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 12px;
  vertical-align: bottom;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #cacaca;
}

.button-sort-up:hover {
  border-bottom-color: #231f20;
}

.button-sort-down:hover {
  border-top-color: #231f20;;
}

.button-sort-up:active {
  border-bottom-color: #81b3d2;
}

.button-sort-down:active {
  border-top-color: #81b3d2;
}

/* results-list */
.properties-list li {
  position: relative;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 1px solid #e5e5e5;
  box-sizing: content-box;
}

.properties-list li:last-of-type {
  border-bottom: 1px solid #e5e5e5;
}

.property-item {
  position: relative;
  width: 365px;
}

.properties-list img {
  width: 135px;
  height: 90px;
  padding-right: 30px;
}

.property-item-title {
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.property-item-title:hover {
  color: #81b3d2;
}

.property-item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.property-item-description {
  position: absolute;
  bottom: 0;
  display: flex;
}

.property-column {
  display: flex;
  flex-direction: column;
  margin-right: 6px;
}

.property-column > span {
  margin-bottom: 12px;
}

.button-property {
  padding-top: 3px;
  padding-bottom: 3px;

  font-size: 14px;
  line-height: 21px;
}

.button-more_info {
  padding-left: 15px;
  padding-right: 15px;
}

.button-more_info:hover {
  background-color: #669ec0;
}

.button-more_info:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #766357;
}

.button-book:hover {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
}

.property-rate {
  position: absolute;
  right: 0;
  height: 90px;
  width: 120px;
}

.property-rate .star {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 18px;
  height: 17px;
  background-image: url("../img/svg/star.svg");
}

.property-rate > span {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 3px 15px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}

/* sedona-photo.html */
.photos .section-title {
  font-size: 30px;
  line-height: 26px;
}

.photos-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
}

.photos-list li {
  position: relative;
  display: flex;
}

.photos-list img:not(:first-of-type) {
  width: 400px;
  height: 267px;
}

.photos-list li:first-child {
  grid-column: 1 / span 3;
}

.photo-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 10px;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.3);
}

.photo-title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 24px;
}

.videos .section-title {
  font-size: 30px;
  line-height: 26px;
}

.videos video {
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 500px;
}

/* sedona-form.html */
.review .section-title {
  font-size: 30px;
}

.review .section-subtitle {
  line-height: 24px;
}

.review-form {
  margin-bottom: 66px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.review-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.review-form li {
  padding: 0;
}

.review-form legend {
  margin-bottom: 60px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.review-column {
  width: 50%;
}

.review-impression-and-visitor {
  display: flex;
  margin-bottom: 73px;
}

.review-general-impression legend,
.review-user-introduction legend {
  margin-left: 80px;
}

.review-general-impression li {
  position: relative;

  padding-left: 80px;
  padding-top: 20px;
  padding-bottom: 20px;

  cursor: pointer;
}

.review-general-impression label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;

  cursor: pointer;
}

.review-general-impression input + label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 45px;
  height: 45px;
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #f2f2f2;
}

.review-general-impression input:checked + label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 15px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);

  border-radius: 50%;
  background-color: #333333;
}

.review-user-introduction li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.review-user-introduction label {
  margin-right: 15px;
}

.review-input {
  width: 100%;
  padding: 0;
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;

  border: none;
  box-sizing: border-box;
  background-color: #f2f2f2;
  cursor: pointer;
}

.review-form .review-contact-info {
  margin-bottom: 55px;
}

.review-form .review-visited-sights {
  margin-bottom: 70px;
}

.review-form .review-emotions {
  margin-bottom: 58px;
}

.review-contact-info legend,
.review-visited-sights legend,
.review-emotions legend {
  position: relative;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 77px;

  text-align: center;
}

.review-visited-sights legend {
  margin-bottom: 45px;
}

.review-emotions legend {
  margin-bottom: 60px;
}

.review-contact-info legend::before,
.review-visited-sights legend::before,
.review-emotions legend::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 280px;
  height: 1px;
  background-color: #dbdbdb;
  transform: translateY(-50%);
}

.review-contact-info legend::after,
.review-visited-sights legend::after,
.review-emotions legend::after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  width: 280px;
  height: 1px;
  background-color: #dbdbdb;
  transform: translateY(-50%);
}

.review-contact-info ul {
  display: flex;
}

.review-contact-info li {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
}

.review-contact-info li:first-of-type {
  margin-right: 80px;
}

.review-contact-info label {
  margin-right: 17px;
  white-space: nowrap;
}

.review-contact-info label::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-position: center;
  background-repeat: no-repeat;
}

.review-contact-info li:first-of-type label::after {
  background-image: url("../img/svg/phone.svg");
}

.review-contact-info li:last-of-type label::after {
  background-image: url("../img/svg/mail.svg");
}

.review-visited-sights ul {
  display: flex;
  justify-content: space-between;
}

.review-visited-sights li {
  position: relative;
  padding-left: 80px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: none;
}

.review-visited-sights label {
  cursor: pointer;
}

.review-visited-sights label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border: 5px solid #f2f2f2;
  border-radius: 5px;
  box-sizing: content-box;

  background-color: #f2f2f2;
}

.review-visited-sights input:checked + label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  width: 24px;
  height: 16px;
  background-image: url("../img/svg/tick.svg");
  background-refpeat: no-repeat;
}

.review-emotions textarea {
  padding: 21px 22px 25px 19px;
}

.review-form .button-review {
  width: 50%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.review-form > p {
  float: right;
  margin-left: 0;
}

/* modal window */
.modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.modal-review-success {
  width: 640px;
}

.modal-review-success .section-description {
  margin-top: 60px;
  margin-left: 90px;
  margin-right: 90px;
}

.modal-review-success .section-title {
  font-size: 30px;
  color: #000000;
}

.modal-review-success .section-subtitle {
  margin-bottom: 40px;
}

.modal-window .button-background {
  position: relative;

  padding: 44px 91px;

  background-color: #f2f2f2;
}

.modal-window .button-modal-close {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}


.modal-review-failure {
  width: 285px;
  padding: 65px 65px 50px 65px;
  box-sizing: content-box;
}

.modal-review-failure .section-title {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.modal-review-failure .section-subtitle {
  margin-bottom: 40px;
}
